@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"); /* font-family: 'Shrikhand', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap"); /* font-family: 'Roboto', sans-serif; */
.bloc_page {
  max-width: 768px;
  margin: auto;
}

* {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

/***** HEADER *****/
.header_bloc {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 6px -6px grey;
}

.header_logo {
  width: 170px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.lieu {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  font-weight: bold;
  font-size: 17px;
  color: rgb(58, 58, 58);
  background-color: rgba(231, 231, 231, 0.616);
}
.lieu_ville {
  padding: 0px 20px;
}

/***** PARTIE 1 *****/
.decouverte {
  font-size: 22px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(248, 248, 248);
  height: 250px;
}
.decouverte_ligne1 {
  font-weight: 700;
  text-align: center;
}
.decouverte_ligne2 {
  text-align: center;
  font-size: 18px;
}
.decouverte_button {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 13px 20px;
  border-radius: 30px;
  box-shadow: 0px 3px 10px -5px black;
  transform: scale(1);
  transition-duration: 0.3s;
}
.decouverte_button:hover {
  transform: scale(1.1);
  background: linear-gradient(#f888d8, #9764d4);
  box-shadow: 0px 5px 15px -5px black;
}

/***** PARTIE 2 *****/
.fonctionnement {
  padding: 30px 20px;
}
.fonctionnement_titre {
  font-weight: 700;
  margin-bottom: 20px;
}
.fonctionnement_ensemble {
  list-style-type: none;
}
.fonctionnement_ensemble_bloc1::before {
  content: "1";
  border-radius: 20px;
  min-width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  transform: translate(-13px);
}
.fonctionnement_ensemble_bloc1 {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-radius: 20px;
  gap: 20px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 2px 7px -5px black;
  margin: 20px 10px;
}
.fonctionnement_ensemble_bloc1:hover {
  background-color: #efe3ff;
  transition: 0.5s;
}
.fonctionnement_ensemble_bloc1:hover .logo_gris {
  color: #9356DC;
}
.fonctionnement_ensemble_contenu {
  display: flex;
  gap: 20px;
}
.fonctionnement_ensemble_contenu_phrase {
  font-weight: bold;
}
.fonctionnement_ensemble_bloc2::before {
  content: "2";
  border-radius: 20px;
  min-width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  transform: translate(-13px);
}
.fonctionnement_ensemble_bloc2 {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  gap: 20px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 2px 7px -5px black;
  margin: 20px 10px;
}
.fonctionnement_ensemble_bloc2:hover {
  background-color: #efe3ff;
  transition: 0.5s;
}
.fonctionnement_ensemble_bloc2:hover .logo_gris {
  color: #9356DC;
}
.fonctionnement_ensemble_bloc3::before {
  content: "3";
  border-radius: 20px;
  min-width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  transform: translate(-13px);
}
.fonctionnement_ensemble_bloc3 {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  gap: 20px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 2px 7px -5px black;
  margin: 20px 10px;
}
.fonctionnement_ensemble_bloc3:hover {
  background-color: #efe3ff;
  transition: 0.5s;
}
.fonctionnement_ensemble_bloc3:hover .logo_gris {
  color: #9356DC;
}

.logo_gris {
  color: gray;
  font-size: 18px;
}

.none {
  text-decoration: none;
  color: black;
}

/***** PARTIE 3 *****/
.restaurants {
  background-color: rgb(247, 247, 247);
  padding: 50px 20px;
}
.restaurants_titre {
  margin-bottom: 20px;
}
.restaurants_orga {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.restaurants_orga_bloc {
  width: 318px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 2px 7px -5px black;
}
.restaurants_orga_bloc_haut {
  height: 175px;
}
.restaurants_orga_bloc_haut_image {
  width: 318px;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.restaurants_orga_bloc_haut_nvx {
  width: 85px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 5px;
  border-radius: 2px;
  text-align: center;
  background-color: #99E2D0;
  color: #009b74;
  position: relative;
  bottom: 165px;
  left: 220px;
}
.restaurants_orga_bloc_bas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 22px 15px 12px;
}
.restaurants_orga_bloc_bas_ville {
  margin-top: 5px;
}
.restaurants_orga_bloc_bas_heart {
  font-size: 23px;
}

/***** FOOTER *****/
.footer {
  padding: 20px 23px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: rgb(56, 56, 56);
}
.footer_titre {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-size: 17px;
}
.footer_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer_list_phrase {
  color: #fff;
  display: flex;
  gap: 10px;
}

/***** HEADER PAGE_2 *****/
.background {
  background-color: rgb(247, 247, 247);
}

.header2 {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 6px -6px grey;
}
.header2_logo {
  text-align: center;
  width: 700px;
  padding-right: 20px;
}
.header2_fleche {
  font-size: 25px;
  margin-left: 20px;
}

.image_restau {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.main {
  padding: 30px 20px;
  border-radius: 40px 40px 0px 0px;
  transform: translate(0px, -50px);
  background-color: rgb(247, 247, 247);
}
.main_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.main_titre_principale {
  font-family: "Shrikhand", cursive;
  font-weight: 550;
}
.main_titre_heart {
  font-size: 25px;
}
.main_bloc {
  margin: 35px 0px;
}
.main_bloc_titre {
  font-weight: 500;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}
.main_bloc_orga {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_bouton {
  text-align: center;
  display: flex;
  justify-content: center;
}
.main_bouton_forme {
  width: 170px;
  padding: 15px 0px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  box-shadow: 0px 3px 10px -5px black;
}

.blocmenu {
  border-radius: 20px;
  box-shadow: 0px 2px 7px -5px black;
  background-color: #fff;
  padding: 15px 15px 15px 10px;
}
.blocmenu_titre {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 17px;
}
.blocmenu_soustitre {
  display: flex;
  justify-content: space-between;
}
.blocmenu_soustitre_prix {
  font-weight: 600;
  color: rgb(66, 66, 66);
}

/*# sourceMappingURL=style.css.map */
